.br-block {
  display: inline;

  &--mobile {
    display: inline;
  }

  &--tablet-three-table {
    display: none;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width--three-table) {
  .br-block {
    &--tablet-three-table {
      display: inline;
    }
  }
}

@media (min-width: $tablet-width) {
  .br-block {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .br-block {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }
}
