.button {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $white;
  background-color: $color-main;
  border-width: 0;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-main--darken;
  }

  &:active {
    color: $white--alfa-30;
    background-color: $color-main--darkest;
  }

  &--nonactive {
    color: $white;
    background-color: $gray--dark;
    cursor: auto;
  }
}
