.check__input {
  appearance: none;
  position: absolute;
}

.check__label {
  position: relative;
  display: block;
  padding-left: 81px;
  margin: 32px 0 54px 17px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: $gray;
  }
}

// .check__input:disabled ~ .check__label {
//   opacity: 0.6;
// }

// .check__input:focus ~ .check__label::before,
// .check__input:not(:disabled) ~ .check__label:hover::before {
//   border-color: #63d1bb;
// }

.check__input:checked ~ .check__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 18px;
  display: block;
  width: 22px;
  height: 13px;
  border-width: 0 0 3px 3px;
  border-color: $black;
  border-style: solid;
  transform: rotate(-45deg);
}

@media (min-width: $tablet-width) {
  .check {
    &:nth-of-type(1) {
      .check__label {
        margin: 32px 0 62px 154px;
        padding: 0 0 0 79px;
      }
    }

    &:nth-of-type(2) {
      .check__label {
        margin: 32px 0 62px 30px;
        padding: 0 0 0 81px;
      }
    }

    &:nth-of-type(3) {
      .check__label {
        margin: 0 0 0 154px;
        padding: 0 0 0 79px;
      }
    }

    &:nth-of-type(4) {
      .check__label {
        margin: 0 0 0 30px;
        padding: 0 0 0 81px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .check {
    &:nth-of-type(1) {
      .check__label {
        margin: 56px -12px 0 116px;
        padding: 0 0 0 80px;
      }
    }

    &:nth-of-type(2) {
      .check__label {
        margin: 56px 0 0 75px;
        padding: 0 0 0 82px;
      }
    }

    &:nth-of-type(3) {
      .check__label {
        margin: 56px 0 0 34px;
        padding: 0 0 0 82px;
      }
    }

    &:nth-of-type(4) {
      .check__label {
        margin: 56px 0 0 -26px;
        padding: 0 0 0 81px;
      }
    }
  }
}
