.check {
  position: relative;

  &:last-of-type {
    .check__label {
      margin-bottom: 0;
    }
  }

  &:hover {
    .check__input:not(:disabled) ~ .check__label::before {
      background-color: $gray--dark;
    }
  }
}

.check__input {
  appearance: none;
  position: absolute;
  top: 10px;
  left: 20px;
}

.check__label {
  position: relative;
  display: block;
  min-height: 56px;
  padding-top: 14px;
  padding-left: 79px;
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: $gray;
  }
}

.check__input:disabled ~ .check__label {
  &::before {
    background-color: $gray--darken;
  }

  &::after {
    opacity: 0.3;
  }
}

.check__input:checked ~ .check__label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 18px;
  display: block;
  width: 22px;
  height: 13px;
  border-width: 0 0 3px 3px;
  border-color: $black;
  border-style: solid;
  transform: rotate(-45deg);
}

@media (min-width: $tablet-width) {
  .check {
    padding: 0;

    &:nth-of-type(n) {
      .check__label {
        margin-right: 10px;
        margin-bottom: 31px;
      }
    }

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin: 0;

      .check__label {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .check {
    &:nth-of-type(n) {
      padding: 0;

      .check__label {
        margin-right: 0;
        padding: 14px 4px 0 81px;
      }
    }
  }
}
