.contact-info {
  border: 0;
}

.contact-info__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

.contact-info__out-wrap {
  margin: 0 0 0 38px;
}

@media (min-width: $tablet-width) {
  .contact-info__out-wrap {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .contact-info__out-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
