.contact {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 34px;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: $gray--dark;
  }

  &:last-child {
    .contact__input {
      margin-bottom: 0;
    }
  }
}

.contact__label {
  // display: block;
  margin: 0 0 8px 22px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: $gray--darkest;
  text-transform: uppercase;
}

.contact__input {
  // margin: 0 0 12px -18px;
  margin-bottom: 12px;
  padding: 20px 70px 20px 20px;
  // width: 100%;
  flex-grow: 1;
  background-color: $gray;
  border-width: 0;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .contact {
    display: flex;
    flex-direction: column-reverse;

    &::after {
      right: 55px;
    }
  }

  .contact__input {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    flex-direction: row-reverse;

    &::after {
      top: -2px;
      right: 0;
    }
  }

  .contact__hide-desktop {
    display: none;
  }

  .contact__label {
    margin: 15px 20px 0 40px;
    padding: 0 0 0 0;
  }

  .contact__input {
    width: 315px;
    padding: 0 0 0 21px;
    margin: -2px 0 -15px 0;
  }
}
