.controls {
  width: 280px;
}

.controls__track {
  position: relative;
  height: 45px;
  background-color: $black--alfa-60;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 22px;
    width: 235px;
    height: 3px;
    background-color: $white--alfa-20;
  }

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 57px;
    width: 10px;
    height: 10px;
    background-color: $white;
    border-radius: 50%;
  }
}

.controls__buttons {
  display: flex;
  height: 66px;
  background-color: $gray;
}

.controls__replay {
  position: relative;
  margin: 25px 25px;
  padding: 0;
  width: 17px;
  height: 16px;
  background-color: transparent;
  border: 2px solid $gray-blueish;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2.5px;
    border: 7px solid transparent;
    border-left-color: $gray-blueish;
    border-bottom: 0;
  }
}

.controls__сlosed-captions,
.controls__scale {
  fill: $gray-blueish;
}

@media (min-width: $tablet-width) {
  .controls {
    position: relative;
    margin-bottom: -93px;
  }

  .controls__track {
    width: 648px;
    height: 93px;

    &::before {
      top: 46px;
      left: 94px;
      width: 390px;
    }

    &::after {
      top: 43px;
      left: 206px;
      width: 9px;
      height: 9px;
    }
  }

  .controls__buttons {
    height: 0;
  }

  .controls__replay {
    position: absolute;
    bottom: 12px;
    left: 11px;
    border-color: $white;
    border-left-color: transparent;

    &::after {
      border-color: transparent;
      border-left-color: $white;
    }
  }
}

@media (min-width: $desktop-width) {
  .controls__track {
    width: 800px;

    &::before {
      width: 540px;
    }
  }
}
