.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  color: $black;
}

.copyright__academy-logo {
  fill: $black;
}
