.copyright {
  display: flex;
}

.copyright__text {
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  color: $black;
}
