.e-mail__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 26px;
  color: $gray--darkest;
  text-transform: uppercase;
}

.e-mail__input {
  background-color: $gray;
  border-width: 0;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}
