.e-mail {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 33px;
    right: 18px;
    width: 58px;
    height: 58px;
    background-color: $gray--dark;
  }
}

.e-mail__label {
  display: block;
  margin: 0 15px 7px 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 26px;
  color: $gray--darkest;
  text-transform: uppercase;
}

.e-mail__input {
  margin: 0 0 23px -18px;
  padding: 20px;
  width: 100%;
  background-color: $gray;
  border-width: 0;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .e-mail {
    display: flex;
    flex-direction: column;

    &::after {
      right: 55px;
    }
  }

  .e-mail__input {
    width: 648px;
    margin-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .e-mail {
    flex-direction: row;
  }
}
