.emotions {
  border: 0;
}

.emotions__title {
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

.emotions__letter {
  // width: 279px;
  // height: 160px;
  border-width: 0;
  background-color: $gray;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}
