.emotions {
  border: 0;
}

.emotions__title {
  @include form-text-black;
  text-align: center;
}

.emotions__letter {
  width: 279px;
  height: 160px;
  border-width: 0;
  background-color: $gray;

  &::placeholder {
    @include form-text-black;
  }
}
