.features {
  padding: 0;
  list-style: none;
}

.features__item {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $gray;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    .features__wrap-typograph {
      background-color: $color-main;
    }

    .features__title,
    .features__number,
    .features__text {
      color: $white;
    }
  }

  &:nth-of-type(1) {
    .features__photo {
      background-image: url("../../img/main-city-mobile@1x.jpg");
    }

    .features__title {
      margin: 0 auto 9px auto;
      padding: 59px 0 0 0;
      font-size: 18px;
      line-height: 26px;
    }

    .features__number {
      margin-bottom: 20px;
    }

    .features__text {
      padding: 0 20px 39px 20px;
      line-height: 21px;
    }
  }

  &:nth-of-type(2) {
    .features__photo {
      background-image: url("../../img/photo-bridge-mobile@1x.jpg");
    }

    .features__title {
      margin: 0 auto 9px auto;
      padding: 39px 0 0 0;
      font-size: 18px;
      line-height: 26px;
    }

    .features__number {
      margin-bottom: 20px;
    }

    .features__text {
      padding: 0 20px 39px 20px;
      line-height: 21px;
    }
  }

  &:nth-of-type(5) {
    .features__text {
      padding-bottom: 27px;
    }
  }
}

.features__photo {
  height: 260px;
  background-color: $gray--darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.features__title {
  margin: 0 auto 9px auto;
  padding: 57px 0 0 0;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.features__number,
.features__text {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: $gray--darkest;
}

.features__number {
  margin-bottom: 20px;
}

.features__text {
  padding: 0 36px 0 35px;
  line-height: 21px;
}

.features__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .features__item {
    &:nth-child(1),
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
    }

    &:nth-of-type(2) {
      .features__wrap-typograph {
        order: 2;
      }
    }
  }

  .features__wrap-flex-element {
    display: flex;
  }

  .features__wrap-typograph,
  .features__item:nth-child(3),
  .features__item:nth-child(4),
  .features__item:nth-child(5) {
    width: 256px;
  }

  .features__photo {
    width: 512px;
  }

  .features__item:nth-child(3),
  .features__item:nth-child(4),
  .features__item:nth-child(5) {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: -4px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrap-typograph,
  .features__item:nth-child(3),
  .features__item:nth-child(4),
  .features__item:nth-child(5) {
    width: 400px;
  }

  .features__photo {
    width: 800px;
  }
}
