.features {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__wrap-typograph {
  padding: 59px 20px 39px;
  background-color: $color-main;
}

.features__item {
  padding: 33px 37px 32px;
  text-align: center;
  background-color: $gray;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    padding: 0;

    .features__title,
    .features__number,
    .features__text {
      color: $white;
    }

    .features__title {
      margin-top: 0;
      margin-bottom: 9px;
      font-size: 18px;
      line-height: 26px;
    }

    .features__number {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .features__text {
      line-height: 21px;
    }
  }

  &:nth-of-type(1) {
    .features__photo {
      background-image: url("../../img/main-city-mobile@1x.jpg");
      background-size: 320px 260px;
      height: 260px;

      // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      //   background-image: url("../../img/main-city-mobile@2x.jpg")
      // }
    }
  }
}

.features__photo {
  background-color: $gray--darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.features__title {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $black;
}

.features__number,
.features__text {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  color: $gray--darkest;
}

.features__number {
  margin-bottom: 20px;
}

.features__text {
  line-height: 21px;
}

.features__sub-list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .features__item {
    padding: 50px 48px;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;

      .features__title {
        font-size: 21px;
      }
    }

    &:nth-of-type(1) {
      .features__photo {
        height: 256px;
        background-image: url("../../img/main-city-tablet@1x.jpg");
        background-size: 512px auto;
        // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        //   background-image: url("../../img/main-city-tablet@2x.jpg")
        // }
      }
    }

    &:nth-of-type(2) {
      .features__wrap-typograph {
        order: 2;
      }
    }

    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      display: inline-flex;
      flex-direction: column;
      margin-right: -4px;
      width: calc(100% / 3);
    }
  }

  .features__wrap-flex-element {
    display: flex;
    height: 256px;
  }

  .features__wrap-typograph {
    width: 256px;
  }

  .features__photo {
    width: 512px;
  }

  .features__title {
    font-size: 21px;
  }

  .features__sub-list {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__wrap-typograph,
  .features__item:nth-of-type(3),
  .features__item:nth-of-type(4),
  .features__item:nth-of-type(5) {
    width: 400px;
  }

  .features__photo {
    width: 800px;
  }

  .features__item {
    padding: 50px 57px 70px;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      .features__title {
        margin-bottom: 14px;
      }

      .features__number {
        margin-bottom: 23px;
      }
    }

    &:nth-of-type(1) {
      .features__photo {
        background-image: url("../../img/main-city-desktop@1x.jpg");
        background-size: 800px auto;
        // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        //   background-image: url("../../img/main-city-desktop@2x.jpg")
        // }
      }
    }
  }
}
