.features {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__wrap-typograph {
  padding: 56px 20px 40px;
  background-color: $color-main;
}

.features__item {
  padding: 27px 35px;
  text-align: center;
  background-color: $gray;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    padding: 0;

    .features__title,
    .features__number,
    .features__text {
      color: $white;
    }

    .features__number {
      margin-top: 0;
      margin-bottom: 16px;
      line-height: 21px;
    }

    .features__text {
      line-height: 21px;
    }
  }

  &:nth-of-type(2) {
    .features__wrap-typograph {
      padding-top: 39px;
    }
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 20px;
      width: 280px;
      height: 1px;
      background-color: $black;
      opacity: 0.1;
    }
  }

  &:nth-of-type(n+3) {
    .features__title {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

.features__photo {
  display: block;
  background-color: $gray--darken;
}

.features__title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $black;
}

.features__number,
.features__text {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: $gray--darkest;
}

.features__number {
  margin-bottom: 20px;
}

.features__text {
  line-height: 21px;
}

.features__sub-list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .features__item {
    padding: 46px 48px 43px;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;

      .features__title {
        margin-bottom: 10px;
        font-size: 21px;
      }

      .features__wrap-typograph {
        padding: 45px 44px 10px;
      }

      .features__number {
        margin-bottom: 22px;
      }
    }

    &:nth-of-type(2) {
      .features__wrap-typograph {
        order: 2;
      }
    }

    &:nth-of-type(n+3) {
      display: inline-flex;
      flex-direction: column;
      margin-right: -4px;
      width: calc(100% / 3);

      .features__title {
        margin-bottom: 12px;
      }

      .features__number {
        margin-bottom: 25px;
      }
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      &::after {
        display: none;
      }
    }
  }

  .features__wrap-flex-element {
    display: flex;
  }

  .features__wrap-typograph {
    width: 256px;
  }

  .features__photo {
    display: block;
    width: 512px;
  }

  .features__title {
    font-size: 21px;
  }

  .features__sub-list {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding: 50px 57px 70px;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      .features__wrap-typograph {
        padding: 54px 64px 10px;
      }

      .features__title {
        margin-bottom: 8px;
      }

      .features__number {
        margin-bottom: 23px;
      }
    }

    &:nth-of-type(2) {
      .features__wrap-typograph {
        padding-left: 85px;
        padding-right: 85px;
      }
    }

    &:nth-of-type(n+3) {
      padding-top: 44px;
      padding-bottom: 64px;
      width: 400px;
    }
  }

  .features__wrap-typograph {
    width: 400px;
  }

  .features__photo {
    width: 800px;
    height: 256px;
    object-fit: cover;
  }
}
