.feedback__full-name,
.feedback__contact-info,
.feedback__impression,
.feedback__visited,
.feedback__emotions {
  margin-top: 24px;
}

.feedback__button {
  margin: 0 auto;
  padding: 16px 50px 16px 46px;
  order: 6;
}

@media (min-width: $tablet-width) {
  .feedback {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__impression {
    order: 0;
  }

  .feedback__full-name {
    order: 1;
  }

  .feedback__contact-info,
  .feedback__visited,
  .feedback__emotions {
    width: 100%;
    order: 1;
  }
}
