.feedback {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.feedback__impression {
  margin: 0 0 48px;

  &::before {
    bottom: -30px;
  }
}

.feedback__visited {
  margin: 0 0 46px;

  &::before {
    bottom: -30px;
  }
}

.feedback__emotions {
  margin: 0 0 48px;
}

.feedback__contact-info,
.feedback__full-name {
  margin: 0 0 44px;

  &::before {
    bottom: -25px;
  }
}

.feedback__visited,
.feedback__impression,
.feedback__contact-info,
.feedback__full-name {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    width: calc(100% + 40px);
    // left: 0;
    // width: 100vw;
    height: 1px;
    background-color: $black;
    opacity: 0.1;
  }
}

.feedback__button {
  margin: 0 auto 41px auto;
  padding: 16px 10px;
  width: 280px;
  order: 6;
}

.feedback__helper {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
  }

  .feedback__impression {
    margin-bottom: 30px;
    order: 0;
  }

  .feedback__full-name {
    margin: 0 0 39px;
    order: 1;

    &::before {
      display: none;
    }
  }

  .feedback__visited,
  .feedback__impression,
  .feedback__emotions,
  .feedback__contact-info {
    &::before {
      display: none;
    }
  }

  .feedback__contact-info,
  .feedback__visited,
  .feedback__emotions {
    width: 100%;
    order: 1;
  }

  .feedback__emotions {
    margin-bottom: 53px;
  }

  .feedback__visited {
    margin-bottom: 69px;
  }

  .feedback__button {
    margin: 0;
    width: 324px;
  }

  .feedback__helper {
    position: absolute;
    bottom: 4px;
    right: 57px;
    display: block;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding: 0 120px;

    &::after {
      right: 122px;
    }
  }

  .feedback__helper {
    right: 122px;
  }

  .feedback__full-name {
    margin: 0 0 48px;
  }

  .feedback__contact-info {
    margin: 0 0 55px;
  }

  .feedback__visited {
    margin-bottom: 37px;
  }

  .feedback__button {
    margin: 0;
    width: 480px;
  }

  .feedback__emotions {
    margin-bottom: 60px;
  }
}
