.footer {
  padding: 37px 10px 23px;
  background-color: $white;
}

.footer__hashtag {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.footer__socials {
  margin-top: 0;
  margin-bottom: 40px;
}

.footer__copyright {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    padding: 36px 7px;
    justify-content: space-around;
  }

  .footer__socials,
  .footer__copyright {
    margin: 0;
  }

  .footer__hashtag {
    margin: 10px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-left: 119px;
    padding-right: 125px;
    justify-content: space-between;
  }
}
