.footer__hashtag {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}
