.footer__hashtag {
  margin: 33px 0 36px 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.footer__socials {
  margin: 0 0 43px 0;
  padding: 0;
}

.footer__copyright {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    margin: 36px 0;

    &--photo {
      margin-top: 78px;
    }
  }

  .footer__hashtag {
    margin: 10px 110px 0 60px;
    padding: 0;
  }

  .footer__socials {
    margin: 0 117px 0 0;
    padding: 0;
  }

  .footer__copyright {
    margin: 10px 0 0 0;
    padding: 0;
  }
}
