.full-name {
  display: block;
  padding: 0;
  border: 0;
}

.full-name__title {
  margin: 0 auto 20px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

.full-name__wrap {
  margin: 0 20px;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

@media (min-width: $tablet-width) {
  .full-name {
    padding: 0 0 0 57px;
    width: 50%;
  }

  .full-name__title {
    margin: 0 0 56px 0;
    text-align: left;
    font-size: 21px;
  }

  .full-name__wrap {
    margin: 0 0 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .full-name {
    padding: 0 0 0 80px;
  }

  .full-name__title {
    margin: 0 0 55px 0;
    padding: 0;
    text-align: left;
  }
}
