.full-name {
  padding: 0 20px;
  border: 0;
}

.full-name__title {
  margin: 0 0 21px 0;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

.full-name__wrap:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .full-name {
    padding: 0 60px 0 0;
    width: 50%;
  }

  .full-name__title {
    margin: 0 0 32px 0;
    // padding: 0 165px 0 0;
    text-align: left;
    font-size: 21px;
  }

  .full-name__wrap {
    margin: 0 0 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .full-name {
    padding: 0 120px 0 0;
    // width: 50%;
  }

  .full-name__title {
    margin: 0 0 55px 0;
    padding: 0;
    text-align: left;
  }
}
