.hotel__title {
  margin: 28px 0 20px 0;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.hotel__notice {
  margin: 0 auto 34px auto;
  padding: 0 19px 0 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $gray--darkest;
  text-align: center;
  text-transform: uppercase;
}

.hotel__button {
  margin: 0 auto 51px auto;
  padding: 16px 48px 16px 46px;
}

@media (min-width: $tablet-width) {
  .hotel__title {
    font-size: 30px;
    margin: 54px 0 32px 0;
    padding: 0;
  }

  .hotel__notice {
    margin: 0 0 41px 0;
    padding: 0;
  }

  .hotel__button {
    margin: 0 auto 57px auto;
    padding: 16px 137px 16px 135px;
  }
}
