.hotel {
  padding: 28px 20px 0;
}

.hotel__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.hotel__notice {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $gray--darkest;
  text-align: center;
  text-transform: uppercase;
}

.hotel__notice-br {
  display: none;
}

.hotel__button {
  width: 280px;
  margin: 0 auto 51px auto;
  padding: 16px 5px;
}

@media (min-width: $tablet-width) {
  .hotel {
    padding: 54px 0 0;
  }

  .hotel__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .hotel__notice {
    margin-bottom: 41px;
  }

  .hotel__notice-br {
    display: block;
  }

  .hotel__button {
    width: 458px;
    margin: 0 auto 57px auto;
    padding: 16px 5px;
  }
}

@media (min-width: $desktop-width) {
  .hotel__notice {
    margin-bottom: 45px;
  }

  .hotel__button {
    margin-bottom: 67px;
  }
}
