.impression {
  border: 0;
}

.impression__title {
  margin: 0 auto 37px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .impression {
    width: 50%;
  }

  .impression__title {
    margin: 0 0 74px 0;
    padding: 0;
    font-size: 21px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .impression__title {
    margin: 0 0 73px 0;
    padding: 0 47px 0 0;
    text-align: center;
  }
}
