.logo {
  position: relative;
  background-color: $gray--darken;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--short-pd {
    height: 158px;
    background-position: 50% 100%;
    background-size: 768px 389px;
  }
}

.logo__link {
  position: absolute;
  top: -56px;
  left: calc(50% - 51px);
  z-index: 3;
  display: block;
  width: 102px;
  height: 85px;
  cursor: pointer;
}

.logo__triangle {
  width: 100%;
}

.logo__mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 26px solid $white;
  border-right: 50vw solid transparent;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50vw;
    width: 0;
    height: 0;
    border-bottom: 26px solid $white;
    border-left: 50vw solid transparent;
  }
}

.logo__text {
  display: flex;
  justify-content: center;
  padding-top: 89px;
  padding-bottom: 85px;

  &--base {
    padding-top: 51px;
    padding-bottom: 0;

    .logo__text-svg {
      width: 230px;
      height: 40px;
    }
  }
}

.logo__text-svg {
  width: 281px;
  height: 214px;
}

@media (min-width: $tablet-width) {
  .logo {
    position: static;
    height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--short-pd {
      height: 290px;
      background-position: 50% 100%;
      background-size: cover;
    }


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-bottom: 36px solid $white;
      border-right: 50vw solid transparent;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50vw;
      width: 0;
      height: 0;
      border-bottom: 36px solid $white;
      border-left: 50vw solid transparent;
    }
  }

  .logo__link {
    top: 0;
  }

  .logo__mask {
    left: calc(50vw - 351px);
    border-bottom-width: 57px;
    border-right-width: 351px;

    &::after {
      left: 351px;
      border-bottom-width: 57px;
      border-left-width: 351px;
    }
  }

  .logo__text {
    padding-top: 77px;

    &--base {
      padding-top: 95px;

      .logo__text-svg {
        width: 460px;
        height: 80px;
      }
    }
  }

  .logo__text-svg {
    width: 460px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--short-pd {
      height: 300px;
    }
  }

  .logo__link {
    left: calc(50% - 94px);
    width: 188px;
    height: 96px;
  }

  .logo__mask {
    left: 249px;
    border-bottom-width: 57px;
    border-right-width: calc(50vw - 249px);

    &::after {
      left: calc(50vw - 249px);
      border-bottom-width: 57px;
      border-left-width: calc(50vw - 249px);
    }
  }

  .logo__text {
    padding-top: 79px;
    padding-bottom: 0;

    &--base {
      padding-top: 101px;
    }
  }
}
