.logo {
  position: relative;
}

.navigation__logo {
  height: 389px;
  background-color: $gray--darken;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo__mask {
  position: absolute;
  bottom: 0;
  left: 0;
}
