.main {
  background-color: $white;
  text-transform: uppercase;
  padding-top: 40px;
}

.main__title {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 21px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

.main__discription {
  margin-top: 0;
  margin-bottom: 27px;
  padding: 0 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: $gray--darkest;
  text-align: center;

  &--other {
    line-height: 24px;
    margin-bottom: 28px;
  }

  &--different {
    margin-bottom: 35px;
  }
}

.main__features-list {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: $mobile-width/2 solid transparent;
    border-right: $mobile-width/2 solid transparent;
    border-top: 18px solid $white;
  }
}

.main__photo-card {
  margin: 0 auto;
}

.main__photo-card,
.main__video-card {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: $black;
    opacity: 0.1;
  }
}

.main__video-card {
  &::before {
    top: -22px;
  }
}

.main__photo-section {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .main {
    position: relative;
    padding-top: 50px;

    &--other {
      padding-top: 73px;
    }
  }

  .main__features-list {
    &::before {
      display: none;
    }
  }

  .main__photo-section {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }

  .main__decorations-triangle {
    display: none;
  }

  .main__title {
    margin-bottom: 30px;
    padding: 0 100px;
    font-size: 21px;

    &--bigger {
      font-size: 30px;
    }
  }

  .main__discription {
    margin-bottom: 53px;

    &--other {
      margin-bottom: 73px;
      padding: 0 162px;
    }
  }

  .main__form {
    margin-bottom: 64px;
  }

  .main__photo-card,
  .main__video-card {
    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main {
    &--other {
      padding-top: 112px;
    }
  }

  .main__photo-section {
    width: 1200px;
  }

  .main__title {
    padding: 0 300px;
  }

  .main__discription {
    &--other {
      margin-bottom: 59px;
      padding: 0 378px;
    }

    &--other-bigger {
      margin-bottom: 70px;
    }
  }
}
