.main {
  background-color: $white;
  text-transform: uppercase;
}

.main__title {
  margin: 40px auto 28px auto;
  padding: 0 25px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.main__discription {
  margin: 0 auto 27px auto;
  padding: 0 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $gray--darkest;
  text-align: center;
  text-transform: uppercase;
  // width: 255px;

  // &--photo {
  //   width: 271px;
  // }

  // &--form {
  //   width: 277px;
  // }
}

.main__features-list {
  position: relative;
  // margin-top: 10px;
}

.main__photo-card {
  margin: 0 auto;
}

.main__decorations-triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: $mobile-width/2 solid transparent;
  border-right: $mobile-width/2 solid transparent;
  border-top: 18px solid $white;
}

@media (min-width: $tablet-width) {
  .main__photo-section {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main__photo-section {
    width: 1200px;
  }
}
