.map_photo {
  background-image: url("../../img/bg-map-mobile@1x.jpg");
  width: 320px;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .map_photo {
    background-image: url("../../img/bg-map-tablet@1x.jpg");
    width: 768px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .map_photo {
    background-image: url("../../img/bg-map-desktop@1x.jpg");
    width: 1200px;
  }
}
