.map_photo {
  display: block;
  width: 320px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .map_photo {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .map_photo {
    width: 1200px;
  }
}
