.name__label {
  @include regular-text;
  text-align: left;
  line-height: 1.86;
}

.name__input {
  background-color: $gray;
  border-width: 0;

  &::placeholder {
    @include form-text-black;
  }
}
