.name {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.name__label {
  margin-right: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: $gray--darkest;
  text-transform: uppercase;
}

.name__input {
  padding: 20px;
  background-color: $gray;
  border-width: 0;
  flex-grow: 1;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .name__input {
    width: 216px;
  }
}

@media (min-width: $desktop-width) {
  .name__input {
    width: 350px;
  }
}
