.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__link {
  display: block;
  width: 320px;
  height: 55px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $color-main;
}
