.phone-number__label {
  display: block;
  margin: 0 15px 8px 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: $gray--darkest;
  text-transform: uppercase;
}

.phone-number__input {
  margin: 0 0 12px -18px;
  padding: 20px;
  width: 100%;
  background-color: $gray;
  border-width: 0;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .phone-number {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .phone-number {
    flex-direction: row;
  }
}
