.photo-card__the-photo {
  display: block;
  margin: 0 auto;
}

.photo-card__title,
.photo-card__like-count {
  @include regular-text;
  margin: 0;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  text-align: left;
  color: $black;
}

.photo-card__author {
  @include regular-text;
  text-align: left;
}
