.photo-card__the-photo {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.photo-card__title,
.photo-card__like-count {
  margin: 0;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  color: $black;
}

.photo-card__author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $gray--darkest;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .photo-card {
    width: 324px;
    margin: 0;

    .photo-card__the-photo {
      height: 267px;
    }

    &:nth-child(1) {
      width: 648px;

      .photo-card__the-photo {
        width: 100%;
        height: 400px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-card {
    width: 400px;
    margin: 0;

    .photo-card__the-photo {
      height: 267px;
    }

    &:nth-child(1) {
      width: 1200px;

      .photo-card__the-photo {
        width: 100%;
        height: 400px;
      }
    }
  }
}
