.radio {
  width: 278px;

  &:last-child {
    .radio__label {
      margin-bottom: 0;
    }
  }

  &:hover {
    .radio__input:not(:disabled) ~ .radio__label::before {
      background-color: $gray--dark;
    }
  }
}

.radio__input {
  appearance: none;
  position: absolute;
}

.radio__label {
  position: relative;
  display: block;
  padding-left: 79px;
  margin: 0 0 43px 0;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $gray;
  }
}

.radio__input:disabled ~ .radio__label {
  &::before {
    background-color: $gray--darken;
  }

  &::after {
    opacity: 0.3;
  }
}


// .radio__input:focus ~ .radio__label::before,
// .radio__input:not(:disabled) ~ .radio__label:hover::before {
//   border-color: #63d1bb;
// }

.radio__input:checked ~ .radio__label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 18px;
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $gray--darkest;
}

@media (min-width: $tablet-width) {
  .radio__label {
    margin: 0 0 52px 0;
    padding: 0 0 0 75px;
  }
}

@media (min-width: $desktop-width) {
  .radio__label {
    margin: 0 0 52px 0;
    padding: 0 0 0 75px;
  }
}
