.socials {
  display: flex;
  justify-content: center;
  list-style: none;
}

.socials__link {
  display: block;
  width: 46px;
  height: 48px;
  margin: 0 3px 0 3px;
  background-color: $color-main;
}
