.sub {
  background-color: $white;
}

.sub__title {
  margin: 0;
  padding: 35px 0 15px 70px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: left;
  text-transform: uppercase;
}

.sub__text {
  margin: 0;
  padding: 0 10px 0 70px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $gray--darkest;
  text-align: left;
  text-transform: uppercase;
}

.sub__title--souvenirs {
  padding: 28px 0 15px 70px;
}

.sub__title--food {
  padding: 28px 0 15px 70px;
}

.sub__text--food {
  padding: 0 25px 38px 70px;
}

@media (min-width: $tablet-width) {
  .sub {
    display: flex;
  }

  .sub__housing,
  .sub__souvenirs,
  .sub__food {
    display: flex;
    flex-direction: column;
    width: 256px;
  }

  .sub__food {
    order: 2;
  }

  .sub__souvenirs {
    order: 3;
  }

  .sub__title {
    font-size: 21px;
    margin: 158px auto 21px auto;
    padding: 0 0 0 0;
  }

  .sub__text {
    margin: 0 auto 61px auto;
    padding: 0 48px 0 45px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .sub__housing,
  .sub__souvenirs,
  .sub__food {
    width: 800px;
  }
}
