.sub {
  padding-top: 36px;
  background-color: $white;
}

.sub__item {
  margin: 0 41px 28px 69px;
}

.sub__title {
  margin: 0 0 13px 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: left;
  text-transform: uppercase;
}

.sub__text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $gray--darkest;
  text-align: left;
  text-transform: uppercase;
}

.sub__tablet-br {
  display: none;
}

.sub__desktop-br {
  display: none;
}

@media (min-width: $tablet-width) {
  .sub {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    padding-top: 0;
  }

  .sub__item {
    display: flex;
    flex-direction: column;
    width: 256px;
    margin: 0;
  }

  .sub__item:nth-of-type(3) {
    order: 2;
  }

  .sub__item:nth-of-type(2) {
    order: 3;
  }

  .sub__title {
    margin-bottom: 21px;
    font-size: 21px;
    text-align: center;
  }

  .sub__text {
    margin: 0 45px 60px 45px;
    text-align: center;
  }

  .sub__tablet-br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .sub__item {
    width: 33.33%;
  }

  .sub__text {
    margin-bottom: 81px;
  }

  .sub__desktop-br {
    display: block;
  }
}
