.sub {
  background-color: $white;
}

.sub__title {
  margin: 0;
  padding: 0;
  @include title;
  text-align: left;
}

.sub__text {
  width: 210px;
  margin: 0;
  padding: 0;
  @include regular-text;
  text-align: left;
  line-height: 1.5;
}
