.surname__label {
  margin: 0 15px 0 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: $gray--darkest;
  text-transform: uppercase;
}

.surname__input {
  padding: 20px;
  width: 192px;
  background-color: $gray;
  border-width: 0;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .surname__input {
    width: 178px;
  }
}

@media (min-width: $desktop-width) {
  .surname__input {
    width: 312px;
  }
}
