.video-card__title {
  margin: 0 auto 27px auto;
  padding: 12px 0 0 0;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.video-card__discription {
  margin: 0 auto 34px auto;
  padding: 0 26px 0 27px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $gray--darkest;
  text-align: center;
  text-transform: uppercase;
}

.video-card__the-video {
  margin: 0 0 104px 0;
  width: 321px;
  height: 201px;
  background-color: $gray--darken;
  background-image: url("../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-card__controls {
  margin: -151px auto 0 auto;
}

@media (min-width: $tablet-width) {
  .video-card__the-video {
    display: block;
    width: 648px;
    height: 499px;
    margin: 0 auto;
    background-image: url("../../img/video-tablet@1x.jpg");
  }

  .video-card__controls {
    margin: -93px 0 0 60px;
  }

  .video-card__title {
    margin: 68px auto 32px auto;
    padding: 0;
    font-size: 30px;
  }

  .video-card__discription {
    margin: 0 170px 71px 170px;
  }
}

@media (min-width: $desktop-width) {
  .video-card__the-video {
    width: 800px;
    background-image: url("../../img/video-desktop@1x.jpg");
  }

  .video-card__discription {
    margin: 0 382px 71px 384px;
    padding: 0;
  }

  .video-card__controls {
    margin: -93px 0 0 200px;
  }

  .video-card {
    margin-bottom: 120px;
  }
}
