.video-card {
  padding-bottom: 39px;
  margin-bottom: -42px;
  position: relative;
}

.video-card__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.video-card__discription {
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $gray--darkest;
}

.video-card__img-video {
  width: 100%;
  height: auto;
  margin: 0 0 104px 0;
  background-color: $gray--darken;
}

.video-card__controls {
  position: absolute;
  bottom: 79px;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .video-card__wrap {
    padding: 0 60px;
    margin: 0 auto;
    max-width: 920px;
  }

  .video-card {
    padding-top: 66px;
    padding-bottom: 43px;
    margin-bottom: 0;
  }

  .video-card__img-video {
    display: block;
    width: 100%;
    height: 499px;
    margin: 0 auto;
    object-fit: cover;
  }

  .video-card__controls {
    bottom: 93px;
    left: 0;
  }

  .video-card__title {
    margin-bottom: 32px;
    font-size: 30px;
  }

  .video-card__discription {
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .video-card {
    margin-bottom: 46px;
    padding-top: 70px;
  }

  .video-card__img-video {
    width: 800px;
  }
}
