.video-card {
  padding: 12px 0 39px;
  margin-bottom: -80px;
  position: relative;
}

.video-card__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.video-card__discription {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $gray--darkest;
  text-align: center;
  text-transform: uppercase;
}

.video-card__the-video {
  margin: 0 0 104px 0;
  width: 321px;
  height: 201px;
  background-color: $gray--darken;
}

.video-card__controls {
  position: absolute;
  bottom: 79px;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .video-card__the-video {
    display: block;
    width: 648px;
    height: 499px;
    margin: 0 auto;
  }

  .video-card__controls {
    bottom: 93px;
    left: 60px;
  }

  .video-card {
    padding-top: 68px;
    margin-bottom: 0;
  }

  .video-card__title {
    margin-bottom: 32px;
    font-size: 30px;
  }

  .video-card__discription {
    margin-bottom: 71px;
  }
}

@media (min-width: $desktop-width) {
  .video-card__the-video {
    width: 800px;
  }

  .video-card__controls {
    left: 200px;
  }
}
