.visited {
  padding: 0;
  border: 0;
}

.visited__title {
  margin: 0 auto 17px;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

.visited__out-wrap {
  width: 278px;
  margin: 0 auto;
}

@media (min-width: 590px) {
  .visited__out-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 33px 0 95px;
    margin: 0;
  }

  .visited__check {
    width: 50%;
  }

  .visited__title {
    margin: 0 0 42px;
    padding: 0 130px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .visited__title {
    margin: 0;
    padding: 0 277px;
  }

  .visited__out-wrap {
    padding: 0;
    justify-content: space-between;

    .visited__check {
      &:nth-of-type(n) {
        width: auto;
        margin: 43px 0 0;
      }
    }
  }
}
