.visited {
  border: 0;
}

.visited__title {
  margin: 0 0 32px 0;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .visited__out-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 33px 0 95px;
  }

  .visited__check {
    width: 50%;
  }

  .visited__title {
    margin: 0 0 54px 0;
    padding: 0 130px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .visited__check {
    width: 25%;
  }
}
