.visited {
  border: 0;
}

.visited__title {
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .visited__out-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .visited__check {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .visited__check {
    width: 25%;
  }
}
