$black: #000000;
$black--alfa-30: rgba(0, 0, 0, 0.3);
$black--alfa-60: rgba(0, 0, 0, 0.6);

$color-main: #81b3d2;
$color-main--darken: #669ec0; //btn hover
$color-main--darkest: #5496bd; //btn down

$gray: #f2f2f2; //form, input
$gray--dark: #e5e5e5; //hover
$gray--darken: #d5d5d5;//btn down
$gray--darkest: #333333; //text
$gray--darkest-alfa-30: rgba(59, 11, 11, 0.3);

$gray-blueish: #5c6870; //replay, subtitles

$white: #ffffff;
$white--alfa-60: rgba(255, 255, 255, 0.6);
$white--alfa-30: rgba(255, 255, 255, 0.3);
$white--alfa-20: rgba(255, 255, 255, 0.2);
