@mixin normal {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@mixin text-center-up {
  text-align: center;
  text-transform: uppercase;
}

@mixin form-text-black {
  @include normal;
  font-size: 18px;
  line-height: 1.44;
  color: $black;
}

@mixin regular-text {
  @include normal;
  @include text-center-up;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: $gray--darkest;
}

@mixin title {
  @include form-text-black;
  @include text-center-up;
}

@mixin modal {
  width: 320px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: $white;
}
