$mobile-width: 320px;

$tablet-width--footer: 500px;
$tablet-width--three-table: 570px;
$tablet-width: 768px;

$desktop-width: 1200px;
$desktop-side-padding: 40px;

$max-width: 1500px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
